


#main, #contentWrapper {
    width: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Header*/
#logo {
    display: none;
}
footer {
    display:none;
}
.header-menu {
    display: none;
}
.headline_1 {
    display: none;
}
#headerSearch {
    display: none;
}
#backTop {
    display: none;
}
h4 {
    font-size: 20px;
}
textarea {
    font-size: 16px;
    padding: 4px;
    background: white;
    border-color: rgba(217, 217, 217, 1.0);
    box-shadow: none;
    -webkit-appearance: none;
    font-family: "open_sansregular";
    height: 200px;
}
.contentPages nav {
    display: none
}
#main.contentpages .contentPages h3 {
    display: none;
}
#main.contentpages .contentPages #suppportContact h3 {
    display: block;
}
#main.contentpages .contentPages h2 {
    display: none;
}

body[data-page="contentpages-kontakt"] #main.contentpages .contentPages h3 {
    display: none;
}
body[data-page="contentpages-kontakt"] #main.contentpages .contentPages {
    margin-top: 0px;
}
body[data-page="contentpages-kontakt"] #main.contentpages #suppportContact .contentPages h3 {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
}
.form-element-fullwidth .input-form[type="radio"] {
    margin-bottom: 0px;
}
.form-element-fullwidth {
    margin-bottom: 20px;
}

