


#main, #contentWrapper {
    width: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Header*/
#logo {
    display: none;
}
footer {
    display:none;
}
.header-menu {
    display: none;
}
.headline_1 {
    display: none;
}
#headerSearch {
    display: none;
}
#backTop {
    display: none;
}
/*Home*/
#home_content_boxes {
    display: none;
}
#home_cities h2, #home_city_table, #scrollable-cities {
    display: none;
}
#home_searches {
    display: none
}
.home_content_box {
    width: 100%;
}
#home_categories {
    width: 100%;
}
#home_categories_kontakt {
    display: none;
}
/*Search*/
#bottomAd {
    display: none;
}
.search_resultTeaser>div {
    padding: 0px;
}

.search_resultTeaser {
width: 100% !important;
min-height: auto;
display: none !important;
}

.search_resultMobileAd {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-top: none;
    cursor: none;
    float: left;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.search_resultMobileAd>div {
    border-top: none;
    padding-top: 0px;
    padding-bottom: 0px
}

.search_resultUpdatedate {
    display: block !important;
    font-size: 10px;
}
#search_setNavigatorElem_center {
    display: none;
}
#facetGroup_Ort {
    display: none;
}

.search_result:hover, .search_resultTeaser:hover , .search_result:active, .search_resultTeaser:active {
    background-color: #fff;
}
body[data-page="search"] #wrapper, body[data-page="myclassifieds"] #wrapper,  body[data-page="myclassifieds"], body[data-page="detail"] {
    background-color: rgb(238, 238, 244);
}
.search_result {
    border-radius: 5px;
    background-color: #ffffff;
    border-top: none;
    cursor: none;
    float: left;
    margin: 2%;
    width: 46%;
    display: block;
    overflow: hidden;
    height: 250px;
}
.search_result>a {
    padding: 0px;
}

.s24_headline {
font-size: 10px !important;
line-height: 10px !imporant;
}
.s24_promotion {
    display: none !important;
}
.s24_products {
    margin: 13px 0 !important;
}
#ads_listing_left {
    float: none;
}
#main.search #no-results-button-insert-container {
    display: none;
}
#facetGroup_Umkreis {
    display: none;
}
.search_resultImageHolder {
    width: 98%;
    min-width: 98%;
    height: 150px;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 5px 5px 0px 0px;
    margin-right: 0px;
    overflow: hidden;
    text-align: center;
    max-height: 150px;
    border-bottom: 1px solid #eee;
}
.search_resultImage {
    min-width: 125%;
    min-height: 104%;
    max-width: 200%;
    display: block;
    margin: auto;
    margin-left: -36px;
    margin-top: -2px;
}
#search_resultHolder {
    margin-top: 0px;
}

#search_resultHead {
    margin-top: -1px;
    height: 38px;
    background-color: #6d981d;
}

#search_adsTop, #search_adsBottom {
    margin: auto;
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search_adsTop .m3_container div .a {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
#search_adsBottom .m3_container div .a {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
#search_pagination {
    border: none;
    margin: 0px;
}
#search_pagination .active {
    display: none !important;
}
#search_pagination a {
    height: 52px;
    margin: 10px;
    width: 50px;
    border: 2px solid #b7b7b7;
    font-size: 50px;
    border-radius: 5px;
    display: none;
}
#search_pagination a[rel="prev"] {
    display: inline;
    float: left;
    background-color: rgba(139, 139, 139, 0.21);
    padding-top: 20px !important;
    margin-left: 30px;
}

#search_pagination a[rel="next"] {
    display: inline;
    float: right;
    background-color: rgba(139, 139, 139, 0.21);
    padding-top: 20px !important;
    margin-right: 30px;
}

#main.home  {
    margin-top: 40px;
}
#headerSearch #what, #headerSearch #where {
    background: #5f8419;
    color: rgba(250, 255, 255, 0.9);
}
.ui-menu .ui-menu-item a {
    line-height: 2.5;
}
#search_resultHead {
    display: none;
}
.search_setNavigatorElem {
    width: 100%;
    font-size: 15px;
    background-color: rgb(129, 175, 5);
}
#search_facets {
    width: 100%;
    margin-bottom: 100px;
}
#search_setNavigators {
    width: 100%;
    min-height: 140px;
    margin-top: 30px;
}
#search_navigationDropdownForMobile {
    display: none;
}
#locButton {
    width: 100%;
    background-color: #eee;
    border: none;
    color: #005a90;
    border-radius: 0px;
    height: 38px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: "open_sanslight";
}
#locButton h5 {
    font-size: 19px;
}

#search_sorting {
margin-top: 1px;
width: 100%;
background-color: rgb(129, 175, 5);
}
#searchSortSelectorDropdown , #search_sort{
    background-color: rgba(239, 239, 239, 0.0);
    color: #ffffff;
    font-family: "open_sansRegular";
}
#search_sortHeadline {
    height: 20px;
    color: #232323;
    font-family: "open_sanslight";
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    display: block;
    text-align: center;

}
#search_navigationHeadline {
    margin-top: 10px;
    text-align: center;
}
ul.facetHolder {
    font-size: 16px;
    line-height: 22px;
}
#search_facets .facetGroup.opened .search_facetLink {
width: 75%;
}
#search_facets h5 {
    font-size: 19px;
    text-align: center;
    background-position: 270px -1874px;
}
#search_facetsHeadline {
    text-align: center;
}
h4 {
    font-size: 20px;
}
input, #radiusSearchForm input {
    font-size: 16px !important;
    padding: 4px !important;
    background: white !important;
    border-color: rgba(217, 217, 217, 1.0) !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
    font-family: "open_sansregular" !important;
}
select, #umkreis_select_select, #umkreis_select {
    font-size: 16px;
    padding-left: 4px;
    background: white;
    border-color: rgba(217, 217, 217, 1.0);
    box-shadow: none;
    -webkit-appearance: none;
    font-family: "open_sansregular";
   height: 30px;
}
.search_resultTitle a {
-webkit-line-clamp: 4;
overflow: hidden;
display: -webkit-box;
/* max-width: 100px; */
-webkit-box-orient: vertical;
}
.search_resultTitle {
    width: 100%;
    font-size: 14px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: #333 !important;
}
.search_resultTitle:hover , .search_resultTitle:active {
    text-decoration: none;
}
.search_resultData {
    display: block;
    float: left;
    width: 92%;
    overflow: hidden;
    padding: 4%;

}
.search_resultDataLeft {
    display: block;
    float: left;
    width: 100%;
}
.search_resultDataLeft span {
    font-size: 90%;
    overflow: hidden;
    height: 20px;
}

a[data-remove-param-on-click="center"] {
    display: none;

}

/*Detail*/


#detail-dektop-right {
    margin-top: 15px;

}
#detailContent .detail_extendedInformation.background {
    background-color: #fff;
    width: 90%;
    margin: 5% 30px 30px 5%;
    padding: 0px;
}


#detailContent #detailSimilarAds #detailSimilarAds_more {
    display: none;

}
#detailContent #detailSimilarAds {
    width: 100%;
    margin-left: 0px;
}
#detailContent #detailDescription {
    width: 90%;
    margin: auto;
    float: none;
    padding: 20px 5% 20px 5%;
    background-color: #fff;
}
#detailContent #detailAds {
    margin: auto;
    width: 320px;
    float: none;
}
#detailContent #detail-mobile-contactInfo {
width: 90%;
float: none;
margin: auto;
margin-bottom: 18px;
}
#detailContent h1 {
    margin: auto;
    float: none;
    width: 90%;
    margin-top: 20px;
}
#detailContent #detailImageHolder, #detailImageHolder {
    height: 260px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    width: 100%;
    background-color: rgb(238, 238, 244);
    padding: 9px 0 9px 9px;
    float: left;
    margin-bottom: 18px;
    margin-left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
#detailImageHolder #detailBigImage {
    display: none;
}
#detailImageHolder #detailPreviewImages, #detailImageHolder #detailPreviewImages #detailPreviewImagesContainer {
    height: 242px;
    float: left;
}
#detailContent #detailContactForm #detailContactPhoneButtonHolder button, #detailContent #detailButtonContact, #detailContent #detailContactForm #contactForm #contactFormSubmit {
    text-align: center;
}
#detailContent #detailButtonContact span, #detailContent #detailContactForm #detailContactPhoneButtonHolder button span, #detailContent #detailContactForm #contactForm #contactFormSubmit span {
    margin-right: 0px;
    margin-left: 0px;
}
#detailImageHolder #detailPreviewImages .detailPreviewImage {
    height: 242px;
    overflow: hidden;
    margin: 0 5px 0 0;
    display: inline;
    text-align: center;
    cursor: pointer
}
#detailImageHolder #detailPreviewImages .detailPreviewImage img {
    max-height: 242px;
}

#main.detail {
    margin-top: 0px;
    padding: 0px;
}

#loginMenu {
    display: none;
}
.insertion_categories .options_wrapper {
    height: 400px !important;
    min-height: 400px
}
#backToList {
    display: none;
}

#topMenuButton {
    display:none;
}
#contentPagesMenu {
    display: none;
}
#detailContent #detailContactForm {
    height: 520px;
}
#detailContact {
    display: none;
}
textarea {
    font-size: 16px;
    padding: 4px;
    background: white;
    border-color: rgba(217, 217, 217, 1.0);
    box-shadow: none;
    -webkit-appearance: none;
    font-family: "open_sansregular";
    height: 200px;
}
#detailContent #detailContactForm #contactForm #message {
border-color: rgba(217, 217, 217, 1.0);
    height: 200px;
}

body[data-page="detail"] #search_resultHolder {
    margin-top: 10px;
}

#detailContent #detailContactForm {
    background-color: #fff;
}
#detailContent #detailPrice {
    width: 90%;
    float: none;
    margin: auto;
    margin-bottom: 18px;
}



/*mehr*/

.contentPages nav {
    display: none
}
#main.contentpages .contentPages h3 {
    display: none;
}
#main.contentpages .contentPages #suppportContact h3 {
    display: block;
}
#main.contentpages .contentPages h2 {
    display: none;
}

body[data-page="contentpages-kontakt"] #main.contentpages .contentPages h3 {
    display: none;
}
body[data-page="contentpages-kontakt"] #main.contentpages .contentPages {
    margin-top: 0px;
}
body[data-page="contentpages-kontakt"] #main.contentpages #suppportContact .contentPages h3 {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
}
.form-element-fullwidth .input-form[type="radio"] {
    margin-bottom: 0px;
}
.form-element-fullwidth {
    margin-bottom: 20px;
}

